@import "less/mixins.less";

.words{
    font-size: 48px;
    line-height: 1.1em;
    margin: 75px 0;
    text-align: center;
}

.btn{
    display: block;
    font-size: 16px;
    margin: 0 auto;
    padding: 10px 0;
}

@media (max-width: 480px) {
    .words{
        font-size: 38px;
    }
}
